# Logs & Caches
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
.vite
*.tsbuildinfo

# Dependencies
node_modules

# Build & Production outputs
dist
dist-ssr
build
screenshots
.chrome-shot*
.edge-shot*

# Environment variables & Local overrides
.env
.env.local
.env.*.local
*.local
!.env.example

# Editor & System directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
